<div id="searchPanel" data-role="collapsible" data-theme="c"
     data-content-theme="c">
  <h2>Search</h2>

  <form
     action="javascript:${widget.shortname}_browse_controller.submitSearchForm()"
     method="get">
    <div class="ui-grid-a">
      <div class="ui-block-a">
	<div data-role="fieldcontain">
	  <label for="searchString">Search:</label> <input type="text"
							   name="searchString" id="searchString" value=""
							   placeholder="Search terms..." />
	</div>
      </div>

      <div class="ui-block-b">
	<div data-role="fieldcontain">
	  <label for="sort">Sort:</label> 
	  <select name="sort" id="sort" data-native-menu="false"> creation time (created), update time (updated), title (title) and name (name) 
	    <option value="updated">Updated</option>
	    <option value="created">Created</option>
	    <option value="title">Title</option>
	    <option value="name">Name</option>
	  </select>
	</div>
      </div>
    </div>

    <div data-role="fieldcontain">
      <fieldset data-role="controlgroup" data-type="horizontal">
	<legend>Sort order</legend>
	<input type="radio" name="sortOrder" id="reverseOrder" value="reverse" checked="checked" />
	<label for="reverseOrder">Reverse</label>
	
	<input type="radio" name="sortOrder" id="forwardOrder" value="forward"  />
	<label for="forwardOrder">Forward</label>
      </fieldset>
    </div>

    <input type="submit" value="Search" />
  </form>

</div>
