<!DOCTYPE html> 
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<html>
	<head>
        <meta http-equiv="pragma" content="no-cache"/>
        <meta http-equiv="Cache-control" content="no-cache">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <link rel="stylesheet" href="lib/jquery.mobile-1.1.1/jquery.mobile-1.1.1.min.css" />
        <link rel="stylesheet" href="style/all.css" />

        <script type="text/javascript" src="lib/jquery.mobile-1.1.1/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="lib/jquery.mobile-1.1.1/jquery.mobile-1.1.1.min.js"></script>
        <script type="text/javascript" src="lib/creole.js" charset="utf-8"></script> 
        <script type="text/javascript" src="scripts/noteviewer.js" charset="utf-8"></script> 

	</head>
	<body>
		<div data-role="page" id="page" role="banner">
		    <div data-role="header" id='header'>
				<h1 id='title'><!-- Set in JS --></h1>
			</div> <!-- /header -->
		
			<div data-role="content" class="ui-content" id='content' role="article">
                <div id="note"><!-- Set in JS --></div>
			</div><!-- /content -->

		    <div data-role="footer" id='footer' role="complementary">
                &nbsp;
            </div> <!-- /footer -->

		</div><!-- /page -->
		
	</body>
</html>
