<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>   
    	<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/widgetdb</property>   
		<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
		<property name="hibernate.connection.username">java</property>  
		<property name="hibernate.connection.password">java</property>      
		<property name="connection.pool_size">80</property>        
		<property name="c3p0.acquire_increment">1</property> 
		<property name="c3p0.idle_test_period">200</property> <!-- seconds --> 
		<property name="c3p0.max_size">80</property> 
		<property name="c3p0.max_statements">0</property> 
		<property name="c3p0.min_size">5</property> 
		<property name="c3p0.timeout">80</property>
	    
		<property name="hibernate.connection.release_mode">auto</property>               
		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>
		<!-- Disable the second-level cache  -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">false</property>
		<mapping resource="org/apache/wookie/beans/schema.hbm.xml"/>
       
    </session-factory>

</hibernate-configuration>

