<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the 'License'); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an 'AS IS' BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<div class='tweet'>
<div class='overview'>
  <div class='quote'>${TEXT}</div>
</div>

<div class='meta-data'>
  <div class='clear'>${NAME} (${SCREEN_NAME}) from ${LOCATION} at ${CREATED_AT} (using ${SOURCE} )
    </div>
    </div>
    <div class='user clear'>
      <h3>About ${NAME}</h3>
      <div class='thumbnail'><img alt='Avatar for tweet author' src='${PROFILE_IMAGE_URL}'></div>
      <p>${NAME} uses the screen name ${SCREEN_NAME}, and is based in ${LOCATION}</p>
      <p>They describe themselves as '${DESCRIPTION}' 
         They provide more information about themselves at <a class='ui-link'>${URL}</a></p>
      <p>They have ${FOLLOWERS_COUNT} followers, are listed in ${LISTED_COUNT} lists and follow ${FRIENDS_COUNT} people. They have tweeted ${STATUSES_COUNT} times.</p>
</div>
</div>