<?xml version="1.0" encoding="utf-8"?><widget xmlns="http://www.w3.org/ns/widgets"         id="http://www.getwookie.org/widgets/weather"         version="1.0"         height="125"         width="125">	<name>Weather</name>	<description>A silly Weather widget</description>	<icon src="icon.png"/>	<content src="index.htm"/>	<access origin="http://feeds.bbc.co.uk/weather/feeds/rss"/>	<author>Scott Wilson</author>	<licence>Example license (based on MIT License)Copyright (c) 2008 The Foo Bar Corp.THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.    </licence></widget>