html {
height:100%; 
max-height:100%; 
padding:0; 
margin:0; 
border:0; 
font-family: "trebuchet ms", tahoma, verdana, arial, sans-serif;
/* hide overflow:hidden from IE5/Mac */ 
/* \*/ 
overflow: hidden; 
/* */ 
}

body{
 margin-top:0px;	
 margin-left:0px;
 color: #000000;
} 

div#front
{
}

div#back
{
 height: 120px;
 width: 120px;
 background:url('images/background.png') no-repeat;
 display:none;
}

div#weather
{
    position:absolute;
    margin-top:0px;
    margin-left: 0px;
}
 

div#city
{
  position:absolute;
  margin-top: 24px;
  margin-left: 20px;
  margin-right: 20px;
  width: 80px; 
  font-size: 9pt;
  text-align: center;
  background-color: black;
  color: white;
 
} 
  
div#temperature
{  
  position:absolute;
  margin-top: 10px;
  left: 20px;
  right: 20px;
  width: 80px;  
  *top:30px;  /* another stupid IE hack using * means that only IE will use the style*/
}

p
{
  font-size: 20pt;
  text-align: center;
  background-color: black;
  color: white;
  opacity: 0.5;
  filter: alpha(opacity = 50);
  width: 100%; /* stupid IE */
}



div#opts
{
  display: block;
  position:absolute;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
}

div#settings
{
  display: block;
  position:absolute;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  text-align: center;
}

div#controls
{
  display: block;
  position:absolute;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  text-align: center;
}


input.groovybutton
{
   font-size:9px;
   font-family:Verdana,sans-serif;
   font-weight:bold;
   color:#fcfcfc;
   background-color:#000000;
   border-style:solid;
   border-color:#cccccc;
   border-width:1px;
}

.
