<div class='tweet'>
<div class='overview'>
  <div class='quote'>${TEXT}</div>
</div>

<div class='meta-data'>
  <div class='clear'>${NAME} (${SCREEN_NAME}) from ${LOCATION} at ${CREATED_AT} (using ${SOURCE} )
    </div>
    </div>
    <div class='user clear'>
      <h3>About ${NAME}</h3>
      <div class='thumbnail'><img alt='Avatar for tweet author' src='${PROFILE_IMAGE_URL}'></div>
      <p>${NAME} uses the screen name ${SCREEN_NAME}, and is based in ${LOCATION}</p>
      <p>They describe themselves as '${DESCRIPTION}' 
         They provide more information about themselves at <a class='ui-link'>${URL}</a></p>
      <p>They have ${FOLLOWERS_COUNT} followers, are listed in ${LISTED_COUNT} lists and follow ${FRIENDS_COUNT} people. They have tweeted ${STATUSES_COUNT} times.</p>
</div>
</div>