/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
html, body {
  height:100%; 
  max-height:100%; 
  padding:0; 
  margin:0; 
  border:0; 
  font-family: "trebuchet ms", tahoma, verdana, arial, sans-serif;
}

#widget {
	min-height:100%;
    position:relative;
}

#toolbar {
	background-color:#C0C0C0;
    text-align:center;
    font-size:75%;
    height:16px;
}

#widget-icon {
	float:left;
}

#content {
    padding-bottom:1em;   /* Height of the footer */
}

#settings {
	display:none;
}

#footer {
	background-color:#C0C0C0;
	position:absolute;
    bottom:0;
    width:100%;
    font-size:75%;
    text-align:center;
    height:1.5em;   /* Height of the footer */
}

input.form-button {
   font-size:9px;
   font-family:Verdana,sans-serif;
   font-weight:bold;
   color:#fcfcfc;
   background-color:#000000;
   border-style:solid;
   border-color:#cccccc;
   border-width:1px;
}

.docs {
	background-color:silver;
}