<?xml version="1.0" encoding="utf-8"?><widget xmlns="http://www.w3.org/ns/widgets"         id="http://www.getwookie.org/widgets/youdecide"         version="1.0"         height="320"         width="255">	<name>You decide</name>	<description>A  quick and simple voting widget</description>	<icon src="icon.png"/>	<content src="index.html"/>	<access network="true"/>	<author>Scott Wilson</author>
    <feature name="http://wave.google.com" required="true"/>    <preference name="moderator" value="false"/></widget>