html {
height:100%; 
max-height:100%; 
padding:0; 
margin:0; 
border:0; 
background:#fff; 
font-size:80%; 
font-family: "trebuchet ms", tahoma, verdana, arial, sans-serif;
/* hide overflow:hidden from IE5/Mac */ 
/* \*/ 
overflow: hidden; 
/* */ 
}

body{
 margin-top:0px;	
 margin-left:0px;
 color: #000000;
} 

div#lang_opts {
	display: inline;
}

div#maincanvas
{
  width: 500px;
  height: 350px;
  background-color: #e0e0e0;
  border: 1px solid black; 
}
  
div#legendDiv
{
  height: 20px;
  font-size:100%; 
  background-color: #c0c0c0;
  padding: 10px;
  text-align: center; 
  border: 1px solid black; 
}

div#questionDiv
{
  height: 50px;
  background-color: #d7d7d7;
  padding: 10px;
  border: 1px solid black; 
}

div#responseDiv
{
  height: 150px;
  overflow: auto; 
  background-color: #e4e4e4;
  padding: 10px;
  border: 1px solid black; 
}

div#responseDivFull
{
  height: 220px;
  overflow: auto; 
  background-color: #e4e4e4;
  padding: 10px;
  border: 1px solid black; 
}

div#submitDiv
{
  height: 50px;
  overflow: auto; 
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid black; 
}

input#phrase
{
  width:28px;
  background-color: #e0f0f0;
}

input#username
{
  width:14px;
  background-color: #e0f0f0;
}

div.hidden
{
  display: none;
}

span.from
{
  font-weight: bold;
}

span.alert
{
  font-style: italic;
}

a {
	text-decoration: none;
	color: #800040;
}

