<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="http://www.getwookie.org/widgets/localetest" height="383" width="255">
	<name>locale test</name>
	<name xml:lang="fr">tester les paramètres régionaux</name>
	<description>widget for testing localization</description>
	<description xml:lang="fr">widget pour les tests de localisation</description>
	<icon src="icon.png"/>
	<author href="http://incubator.apache.org/wookie" email="wooke-dev@incubator.apache.org">Apache Wookie (incubating) Team</author>
	<license href="http://www.apache.org/licenses/LICENSE-2.0.html">Licensed under the Apache 2.0 License</license>
</widget>