<!DOCTYPE html>
<html>
<head>
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" />
<link rel="stylesheet" href="style/all.css" />

${content.scripts}

<title>${widget.name}</title>
</head>

<body>
  <div data-role="page" class="type-home" id="home" data-theme="d">
    <div id="header" class="header" data-role="header" data-position="fixed">
      ${content.header}
    </div> 

    <div data-role="content">
      <div class="content-secondary" id="content-secondary">
        ${content.secondary}
      </div>

      <div class="content-primary" id="content-primary">
        ${content.primary}
      </div>
    </div>

    <div id="footer" data-role="footer" class="footer" id="footer" data-position="fixed">
      ${content.footer}
    </div>
  </div>


  <div data-role="dialog" id="help">
    <div data-role="header">
      <h4>Help: ${widget.name}</h4>
    </div>
    <!-- /header -->
    
    <div data-role="content" class="ui-content" id="content-help">
      ${widget.help}</div>
    <!-- /content -->
  </div>
  <!-- /page -->

</body>
</html>
